.wrapper {
  display: grid;
  grid-template-columns: 256px 1fr;

  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem;
  gap: 2rem;
  align-items: flex-start;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 2rem
}